<div class="container mt-5">
    <h2 class="mb-4 text-center">Lista de Libros</h2>
    <div class="d-flex justify-content-end mb-3">
        <!-- Botón para agregar un nuevo libro -->
        <button (click)="agregarNuevoLibro()" class="btn btn-success">Agregar Nuevo Libro</button>
    </div>
    <ul class="list-group">
        <li *ngFor="let libro of libros" class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <strong>{{ libro.titulo }}</strong> - {{ libro.autor }}
            </div>
            <div>
                <button (click)="editarLibro(libro.id)" class="btn btn-warning btn-sm me-2">Editar</button>
                <button (click)="eliminarLibro(libro.id)" class="btn btn-danger btn-sm">Eliminar</button>
            </div>
        </li>
    </ul>
</div>
